@import '../../assets/style/variables.scss';

ion-toolbar{
    --background: #F6F3F3 !important;
}

ion-title{
     padding: 5px;
}

.header{
    font-family: $font-family;
    padding: 0px;
    margin: 0px;
    color: $subhead-color;
    font-weight: bold;
}

.tool{
    display: flex;
}

ion-toolbar{
    background: #F6F3F3 !important;
    position: fixed;
}

ion-content{
    --background: #f6f3f3;
}

.order-content{
    position: relative;
    top: 10%;
}

ion-icon.md.hydrated {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
}

.icons{
    margin-top: 2px;
}

ion-slide div{
    padding: 0px 14px;
}

ion-slide{
    padding-bottom: 30px;
}

ion-slides { --bullet-background: #000; --bullet-background-active: #D3100E ; }

.starters{
    padding: 5px 0px;
}

.starters-10{
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    display: flex;
}

.starters-img img{
    width: 100px;
    height: 100px;
}

.starters-img, .starters-20{
    margin: 5px;
}

.start-head{
    display: flex;
}

.start-head p{
    font-size: 16px;
    font-family: $font-family;
    margin: 0px;
    font-weight: bold;
    color: $subhead-color;
}

.volume{
    position: absolute;
    right: 20px;
}

.start-price{
    margin: 5px 0px;
    color: $button-background;
    font-family: $font-family;
    font-weight: bold;
}

.cust-10{
    display: flex;
}

.cust-10 p{
    color: $subfont-color;
    margin: 5px 0px;
    font-family: $font-family;
}

.addon{
    color: $subfont-color;
    margin: 10px 0px 0px 0px;
    font-family: $font-family;
}

.quant{
    height: 30px;
    border: 1px solid #DCD9D6;
    position: absolute;
    right: 25px;
    border-radius: 5px;
    display: flex;
}

.quant ion-icon.md.hydrated, .quant ion-icon.ios.hydrated {
    width: 20px;
    height: 20px;
    background: #EFEBE9;
    border-radius: 50%;
    margin: 5px;
    color: #888888;
}

.quant p{
    margin: 5px;
    font-family: $font-family;
}

.cat-20{
    display: flex;
}

.category-text{
    color: $subhead-color;
    margin: 0px;
    font-family: $font-family;
    font-size: 18px;
    font-weight: bold;
}

.category-10{
    padding: 10px;
}

.cust-model{
    background: #fff;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 15px;
    box-shadow: #333 0px 0px 15px 0px;
    z-index: 99999;
}

.header p{
    font-size: 16px;
    font-family: $font-family;
    color: $subhead-color;
    margin: 0px 0px 10px 0px;
}

.cust-30{
    width: 100%;
    height: 150px;
    padding: .375rem .75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $subfont-color;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: $font-family;
    outline: none;
    text-align: left;
    margin: auto;
}

.btn-submit,  .btn-submit:focus{
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    background: $button-background;
    color: #fff;
    font-family: $font-family;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.cust-40 label{
    margin-left: 10px; 
    color: $subfont-color;
    font-family: $font-family;
}

.cust-40 p{
    margin: 5px 0px 0px 10px; 
    color: $button-background;
    font-family: $font-family;
    font-weight: bold;
}

.cust-content-10{
    display: flex;
    margin: 20px 0px;
}

.cust-content-head{
    font-size: 14px;
    color: $subhead-color;
    font-family: $font-family;
    font-weight: bold;
    margin: 5px 0px;
}

.ion-color-primary{
    --ion-color-base: #D3100E !important;
}

.order-submit{
    text-align: center;

    button{
        width: 70% !important;
    }
}

ion-fab-button, ion-fab-button.activated{
    right: 15px;
    position: fixed;
    bottom: 15px;
    --background: #D3100E;

    ion-icon.md.hydrated{
        background: transparent;
    }
}

img.audio {
    position: absolute;
    right: 30px;
    height: 20px;
}

.cat-20 img{
    position: absolute;
    right: 20px;
    height: 20px;

}

.header{
    display: flex;
}

.pencil{
    position: absolute;
    right: 20px;
}

.footer{
    text-align: center;
}


.cart-count{
    margin: -5px 15px;
    position: fixed;
    background: #fff;
    color: #000;
    height: 20px;
    width: 20px;
    font-size: 16px;
    border-radius: 50%;
    padding: 2px;
}

.icons img{
    height: 60px;
    width: 60px;
}

.count{
    text-align: center;
    width: 20px;
    outline: none;
    border: none;
    color: #495057;
}


@media only screen and (min-width: 500px) and (max-width: 768px) {
    .btn-submit, .btn-submit:focus{
        width: 60%;
     }

     .order-submit{
        text-align: center;
    
        button{
            width: 60% !important;
        }
    }
   }