<ion-header>
  <ion-toolbar>
    <div class="tool">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        <p class="header">Agro Restaurent</p>
      </ion-title>
      <div class="icons">
        <!-- <ion-icon name="search"></ion-icon>
        <ion-icon name="person"></ion-icon> -->
        <img src="../../assets/images/Search.svg" />
        <img (click)="viewAccount($event);" src="../../assets/images/user-profile.svg" />
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<!-- (click)="HideCustomizeOnblur($event)" -->
<ion-content>
  <div class="order-content" >
    <div class="rest-10">
      <div class="slides">
        <ion-slides #slider autoplay="50" loop="true" speed="10" pager="true" (ionSlidesDidLoad)="StartSlides($event)" [options]="slideOpts">
          <ion-slide>
            <div>
              <img src="../../assets/images/food.PNG" />
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <img src="../../assets/images/food.PNG" />
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <img src="../../assets/images/food.PNG" />
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <img src="../../assets/images/food.PNG" />
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <img src="../../assets/images/food.PNG" />
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>

    <div class="food-10">
      <div class="category-10">
        <div class="cat-20">
          <p class="category-text">Starters</p>
          <img (click)="openFilter($event);" src="../../assets/images/filter.svg" />
        </div>
        <div class="starters">
          <div class="starters-10">
            <div class="starters-img">
              <img src="../../assets/images/food.PNG" />
            </div>
            <div class="starters-20">
              <div class="start-head">
                <p>Chicken 65</p>
                <!-- <div class="volume"><a class="speaker" [ngClass]="status ? 'mute' : 'unmute'" (click)="toggle();">
                    <span></span>
                  </a>
                </div> -->
                <img class="audio" src="../../assets/images/audio (1).svg" />
                <!-- <ion-icon name="volume-down"></ion-icon>
                  <ion-icon name="person"></ion-icon> -->
                <!-- <ion-icon name="volume-up"></ion-icon> -->
              </div>
              <p class="start-price">$ 5.00</p>
              <p class="addon" (click)='ShowCustomize($event)'>Add on</p>
              <div class="cust-10">
                <p (click)='ShowCustomizeText($event)'>Customize</p>
                <div class="quant">
                  <ion-icon name="remove"></ion-icon>
                  <p> 0 </p>
                  <ion-icon name="add"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="starters">
          <div class="starters-10">
            <div class="starters-img">
              <img src="../../assets/images/food.PNG" />
            </div>
            <div class="starters-20">
              <div class="start-head">
                <p>Tandoori</p>
                <img class="audio" src="../../assets/images/audio-speaker-mute (1).svg" />
                <!-- <ion-icon name="volume-down"></ion-icon>
                    <ion-icon name="person"></ion-icon> -->
                <!-- <ion-icon name="volume-up"></ion-icon> -->
              </div>
              <p class="start-price">$ 5.00</p>
              <p class="addon" (click)='ShowCustomize($event)'>Add on</p>
              <div class="cust-10">
                <p (click)='ShowCustomizeText($event)'>Customize</p>
                <div class="quant">
                  <ion-icon name="remove"></ion-icon>
                  <p> 0 </p>
                  <ion-icon name="add"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="starters">
          <div class="starters-10">
            <div class="starters-img">
              <img src="../../assets/images/food.PNG" />
            </div>
            <div class="starters-20">
              <div class="start-head">
                <p>Chicken Lollipop</p>
                <img class="audio" src="../../assets/images/audio (1).svg" />
                <!-- <ion-icon name="volume-down"></ion-icon>
                      <ion-icon name="person"></ion-icon> -->
                <!-- <ion-icon name="volume-up"></ion-icon> -->
              </div>
              <p class="start-price">$ 5.00</p>
              <p class="addon" (click)='ShowCustomize($event)'>Add on</p>
              <div class="cust-10">
                <p>Customize</p>
                <div class="quant">
                  <ion-icon name="remove"></ion-icon>
                  <p> 0 </p>
                  <ion-icon name="add"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="cat-20">
          <p class="category-text">Briyani</p>
        </div>
        <div class="starters">
          <div class="starters-10">
            <div class="starters-img">
              <img src="../../assets/images/food.PNG" />
            </div>
            <div class="starters-20">
              <div class="start-head">
                <p>Chicken Briyani</p>
                <img class="audio" src="../../assets/images/audio (1).svg" />
                <!-- <ion-icon name="volume-down"></ion-icon>
                    <ion-icon name="person"></ion-icon> -->
                <!-- <ion-icon name="volume-up"></ion-icon> -->
              </div>
              <p class="start-price">$ 5.00</p>
              <p class="addon" (click)='ShowCustomize($event)'>Add on</p>
              <div class="cust-10">
                <p (click)='ShowCustomizeText($event)'>Customize</p>
                <div class="quant">
                  <ion-icon name="remove"></ion-icon>
                  <p> 0 </p>
                  <ion-icon name="add"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="starters">
          <div class="starters-10">
            <div class="starters-img">
              <img src="../../assets/images/food.PNG" />
            </div>
            <div class="starters-20">
              <div class="start-head">
                <p>Mutton Briyani</p>
                <img class="audio" src="../../assets/images/audio (1).svg" />
                <!-- <ion-icon name="volume-down"></ion-icon>
                      <ion-icon name="person"></ion-icon> -->
                <!-- <ion-icon name="volume-up"></ion-icon> -->
              </div>
              <p class="start-price">$ 5.00</p>
              <p class="addon" (click)='ShowCustomize($event)'>Add on</p>
              <div class="cust-10">
                <p (click)='ShowCustomizeText($event)'>Customize</p>
                <div class="quant">
                  <ion-icon name="remove"></ion-icon>
                  <p> 0 </p>
                  <ion-icon name="add"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="order-submit">
          <button class="btn-submit" (click)="Ordernow($event)">Order now</button>
        </div>
      </div>
    </div>


  </div>
  <div class="cust-model" *ngIf='display' id="custdialog">
    <div class="content">
      <div class="header">
        <p (click)='ShowCustomizeText($event)' id="custheader">Customize</p>
        <img class="pencil" *ngIf="showPencil" (click)="changeCustomization('Pencil')"
          src="../../assets/images/pencil-on-a-notes-paper.png" />
        <img class="pencil" *ngIf="!showPencil" (click)="changeCustomization('dot')"
          src="../../assets/images/list-symbol-of-three-items-with-dots.png" />
      </div>
      <div class="cust-content">
        <div *ngIf="showPencil">
          <p class="cust-content-head">Chicken 65</p>
          <div class="cust-content-10">
            <div class="cust-check">
              <ion-checkbox color="primary"></ion-checkbox>
            </div>
            <div class="cust-40">
              <label>Extra Pieces</label>
              <p>$ 1.00</p>
            </div>
          </div>
          <div class="cust-content-10">
            <div class="cust-check">
              <ion-checkbox color="primary"></ion-checkbox>
            </div>
            <div class="cust-40">
              <label>Added Onion</label>
              <p>$ 1.00</p>
            </div>
          </div>
        </div>
        <div *ngIf="!showPencil">
          <textarea maxlength="150" placeholder="Type your customization here..." class="cust-30"></textarea>
        </div>
      </div>
      <div class="footer">
        <button class="btn-submit" (click)="CloseCustomize($event)">Add Item</button>
      </div>
    </div>
  </div>

  <ion-fab>
    <ion-fab-button (click)="Ordernow($event)"><img src="../../assets/images/cart.svg" /><p class="cart-count">5</p></ion-fab-button>
  </ion-fab>
</ion-content>