
@import '../../assets/style/variables.scss';
.otp-10{
    background: $page-background;
    height: 100%;
}

ion-toolbar{
    background: $page-background !important;
    position: fixed;
}

.tool{
    display: flex;
}

// #partitioned {
//     padding-left: 15px;
//     letter-spacing: 42px;
//     border: 0;
//     background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
//     background-position: bottom;
//     background-size: 50px 1px;
//     background-repeat: repeat-x;
//     background-position-x: 35px;
//     width: 220px;
//     min-width: 220px;
//   }
  
  #divInner{
    left: 0;
    position: sticky;
  }
  
  #divOuter{
    width: 100%; 
    overflow: hidden;
    margin: auto;
  }

  .otp-head{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
  }

  .otp-20{
    width: 70%;
    height: 45px;
    padding: .375rem .75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: $font-family;
    outline: none;
  }

  .btn-ctrl{
    text-align: center;
    margin: 10px 0px;
  }

  .btn-submit,  .btn-submit:focus{
    width: 70%;
    margin: 10px 0px;
    height: 45px;
    background: $button-background;
    color: #fff;
    font-family: $font-family;
    outline: none;
    border-radius: 3px;
    font-size: 16px;
   }

   ion-toolbar{
       --background: $page-background;
   }

   ion-title{
        padding: 5px;
   }

   .header-otp{
       font-family: $font-family;
       padding: 0px;
       margin: 0px;
       color: #010101;
       font-weight: bold;
   }

   .otp {
    color: darkgray;
    border-bottom: 1px solid #000;
    width: 30px;
    height: 36px;
    font-size: 18px;
    margin: 5px;
    color: #495057;
  }
  
  // td {
  //   //border: 2px solid darkgray
  // }
  
  table {
    border-collapse: collapse;
    margin: auto;
  }

  @media only screen and (min-width: 500px) and (max-width: 768px) {
    .btn-submit, .btn-submit:focus{
        width: 50%;
     }
    
     .otp-20{
         width: 50%  !important;
         outline: none;
      }
   }

