@import '../../assets/style/variables.scss';

ion-toolbar{
    --background: #F6F3F3 !important;
}

ion-title{
     padding: 5px;
}

.header{
    font-family: $font-family;
    padding: 0px;
    margin: 0px;
    color: $subhead-color;
    font-weight: bold;
}

.tool{
    display: flex;
}

ion-toolbar{
    background: #F6F3F3 !important;
    position: fixed;
}

ion-content{
    --background: #f6f3f3;
}

.order-content{
    position: relative;
    top: 10%;
}

ion-icon.md.hydrated {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
}

.icons{
    margin-top: 2px;
}

.quant{
    height: 30px;
    border: 1px solid #DCD9D6;
    border-radius: 5px;
    display: flex;
    right: 90px;
}

.quant ion-icon.md.hydrated, ion-icon.ios.hydrated {
    width: 20px;
    height: 20px;
    background: #EFEBE9;
    border-radius: 50%;
    margin: 5px;
    color: #888888;
}

.quant p{
    margin: 5px;
    font-family: $font-family;
}

.summary-content{
    top: 65px;
    position: relative;
    width: 100%;
    overflow: scroll;
}

.item-summary{
    background: #fff;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    min-height: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    .name{
        margin: 6px 0px 0px 0px;
        font-size: 14px;
        color: $subhead-color;
        font-family: $font-family;
        width: 55%;
        font-weight: bold;
    }

    .price{
        margin: 6px 0px 0px 10px;
        font-size: 16px;
        color: $button-background;
        font-family: $font-family;
        right: 25px;
        font-weight: bold;
    }
}


.price{
    right: 10px;
}

.item{
    display: flex;
    margin: 15px 0px;
}

.price-summary{
    height: 51vh;
    background: #fff;
    padding: 10px;
    width: 100%;
}

.coupon{
    margin: 10px;
    border: 1px solid #DCD9D6;
    border-radius: 5px;
}

.coupon-10{
    display: flex;
}

.arrow{
    margin: auto 15px auto auto;
}

.discount{
    margin: 15px;
    width: 20px;
    height: 20px;
}

.coupon-10 p{
    font-family: $font-family;
    font-weight: bold;
}

.bill-summary{
    margin: 20px 0px 0px 5px;

    .bill{
        font-family: $font-family;
        margin: 10px 0px 0px 0px;
        color: $subhead-color;
        font-weight: bold;
    }
}

.total, .gst{
    display: flex;
    margin: 10px 0px;
}

.total p, .gst p{
    font-family: $font-family;
    color: #999;
    width: 80%;
    margin: 0px;
    font-weight: bold;
}

.total span, .gst span{
    color: #999;
    font-family: $font-family;
    font-weight: bold;
}

.btn-submit,  .btn-submit:focus{
    width: 70%;
    margin: 10px 0px;
    height: 45px;
    background: $button-background;
    color: #fff;
    font-family: $font-family;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.pay{
    // position: fixed;
    width: 100%;
    padding: 10px;
    bottom: 0px;
    text-align: center;
    background: #fff;
}

.total-pay{
    display: flex;
    margin: 0px -10px;
    display: flex;
    border-top: 1px solid #DCD9D6;
    border-bottom: 1px solid #DCD9D6;
    padding: 20px 10px;

    p{
        width: 80%;
        color: $subhead-color;
        font-family: $font-family;
        margin: 0px;
        font-weight: bold;
    }

    span{
        color: $pay-text;
        font-family: $font-family;
        font-weight: bold;
    }
}

.promo{
    text-align: center;
    margin-bottom: 10px;

    .promo-10{
        width: 90%;
        height: 45px;
        padding: .375rem .75rem;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 5px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        font-family: $font-family;
        outline: none;
        text-align: left;
        margin: auto;
        text-transform: uppercase;
    }

    .btn-submit,  .btn-submit:focus{
        width: 90%;
        margin: 10px 0px;
        height: 45px;
        background: $button-background;
        color: #fff;
        font-family: $font-family;
        outline: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
    }
}

.icons img{
    height: 60px;
    width: 60px;
}

.count{
    text-align: center;
    width: 20px;
    outline: none;
    border: none;
    color: #495057;
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
    .item-summary .name{
        width: 75%       
    }

    .total p, .gst p, .total-pay p{
        width: 90%;
    }

    .promo-10{
        width: 60% !important;
    }

    .btn-submit,  .btn-submit:focus{
        width: 60% !important;
    }

    .price-summary{
        height: 69vh;
    }
}

@media only screen and (min-height: 600px) and (max-height: 700px) {
    .price-summary{
        height: 57vh;
    }
}

@media only screen and (min-height: 700px) and (max-height: 800px) {
    .price-summary{
        height: 60vh;
    }
}

@media only screen and (min-height: 800px) and (max-height: 900px) {
    .price-summary{
        height: 63vh;
    }
}

@media only screen and (max-height: 500px) {
    .price-summary{
        height: 85vh;
    }
}