@import '../../assets/style/variables.scss';

.btn-submit,  .btn-submit:focus{
    width: 80%;
    margin: 10px;
    height: 45px;
    background: $button-background;
    color: #fff;
    font-family: $font-family;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.filter-head{
    margin-left: 10px;
    font-size: 18px;
    color: #010101;
    font-family: $font-family;
    font-weight: bold;
}

.crit-10{
    margin-left: 10px;
    font-size: 16px;
    color: #010101;
    font-family: $font-family;
    font-weight: bold;
}

.price {
    display: flex;
    margin: 15px;

    p{
        margin: 0px 5px;
        color: $subfont-color;
        font-family: $font-family;
    }
}

.apply{
    width: 100%;
    text-align: center;
}

.ion-color-primary{
    --ion-color-base: #D3100E !important;
}
